Part1-XML-DTD/FilmProvider.dtd

<!ELEMENT films (realisateur+, film+)>
<!ELEMENT realisateur (prenom, nom)>
<!ATTLIST realisateur id_realisateur ID #REQUIRED>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT film (titre, resume)>
<!ATTLIST film id_film ID #REQUIRED
               id_realisateur IDREF #REQUIRED
               annee NMTOKEN #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT resume (image*, text)>
<!ELEMENT image (#PCDATA)>
<!ATTLIST image source ID #REQUIRED>
<!ELEMENT text (#PCDATA)>